{% extends "base.html" %}
{% block title %}ECG app{% endblock %}
{% block content %}

<div class="jumbotron" lang="en">
    <div class="container">

            <div class="text-center">
                <h1 class="display-4">Your header</h1>
                <p class="lead">something more</p>
            </div>

    </div>
</div>
<form method="post" action="/" enctype="multipart/form-data" lang="en">
    <div class="container">
        <div class="text-center">
            <div class="file-field">
                <div class="btn btn-pink btn-rounded btn-sm float-left">
                    <input type="file" name="file" autocomplete="off" required placeholder="Upload your file">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<br>
<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">{{ prediction_text }}</div>
</div>

    
{% endblock %}
