absl-py
appnope
asttokens
astunparse
backcall
blinker
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter-client
jupyter_core
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
munkres
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
parso
pexpect
pickleshare
Pillow
pip
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pyzmq
requests
requests-oauthlib
rsa
setuptools
six
stack-data
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow
termcolor
tornado
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
wheel
wrapt